# Exercise 4.7

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/brandeefairnot/Library/CloudStorage/OneDrive-Personal/Documents/Instacart Basket Analysis/'

In [3]:
#importing exported file from 4.6 task
df_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [4]:
#subset of data for storage purposes-1st million rows
df = df_merged[:1000000]

### Price_label column

In [5]:
#If then statements (If-Statements with User-Defined)
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [6]:
# creating the new column for the if else statement
df_merged['price_range'] = df_merged.apply(price_label, axis=1)

In [7]:
df_merged.shape

(32404859, 16)

In [8]:
df_merged.value_counts()

order_id  user_id  eval_set  order_number  order_dow  order_hour_of_day  days_since_prior_order  product_id  add_to_cart_order  reordered  _merge  product_name                              aisle_id  department_id  prices  price_range
2         202279   prior     3             5          9                  8.0                     1819        8                  1          both    All Natural No Stir Creamy Almond Butter  88        13             11.5    Mid-range product    1
2280905   65096    prior     2             6          17                 10.0                    29640       14                 1          both    Unsweetened Ice Tea                       94        7              7.7     Mid-range product    1
                                                                                                 27845       23                 0          both    Organic Whole Milk                        84        16             12.8    Mid-range product    1
                                                                                                 27695       21                 0          both    Natural Chicken & Sage Breakfast Sausage  106       12             9.7     Mid-range product    1
                                                                                                 26499       20                 0          both    Lavender Long Lasting Deodorant           80        11             5.3     Mid-range product    1
                                                                                                                                                                                                                                                  ..
1141630   150860   prior     25            1          8                  6.0                     25487       2                  1          both    Brown Large Eggs Grade A                  86        16             6.7     Mid-range product    1
                                                                                                 24852       1                  1          both    Banana                                    24        4              12.3    Mid-range product    1
                                                                                                 21616       3                  1          both    Organic Baby Arugula                      123       4              4.9     Low-range product    1
                                                                                                 9839        9                  1          both    Organic Broccoli                          83        4              10.5    Mid-range product    1
3421083   25247    prior     24            2          6                  21.0                    45309       2                  0          both    Purple Carrot & blueberry Puffs           92        18             11.4    Mid-range product    1
Length: 30328763, dtype: int64

In [9]:
# checking the highest price
df['prices'].max()

14.8

## If-Statements with the loc() Function

In [10]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

/var/folders/hc/cfcvt_bs041bxrp9j4ncz6f00000gn/T/ipykernel_9176/1169838859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [11]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [12]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [13]:
df['price_range_loc'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range_loc, dtype: int64

## IF Statement with For-Loops

In [14]:
df_merged.loc[df_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [15]:
df_merged.loc[(df_merged['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [16]:
df_merged.loc[df_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [27]:
df_merged['order_dow'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_dow, dtype: int64

In [35]:
#rename column 
df_merged.rename(columns = {'order_dow':'orders_day_of_week'}, inplace = True)

In [36]:
df_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range,price_range_loc
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,Mid-range product,Mid-range product
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Mid-range product
2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Mid-range product
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Mid-range product
4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Mid-range product

### Busiest_day column

In [39]:
result = []

for value in df_merged["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [40]:
df_merged['busiest_day'] = result

In [41]:
df_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

# EXERCISE

In [42]:
#1 Exercise for creating the “price_label” and “busiest_day” columns.
df_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range,price_range_loc,busiest_day
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Regularly busy
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Regularly busy
2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Regularly busy
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Least busy
4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Least busy

In [43]:
#2 Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural).

df_merged.rename(columns = {'busiest_day':'busiest_days'}, inplace = True)

In [50]:
#2A This label should correspond with the two busiest days of the week as opposed to the single busiest day.
df_merged['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [69]:
#2B This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method.
result = []

for value in df_merged["orders_day_of_week"]:
  if value == (0 and 1):
    result.append("Busiest days")
  elif value == (3 and 4):
    result.append("Least busy days")
  else:
    result.append("Regularly busy")

In [70]:
df_merged['busiest_days'] = result

In [71]:
#3 Check the values of this new column for accuracy. Note any observations in markdown format.
df_merged['busiest_days'].value_counts(dropna = False)

Regularly busy     22416875
Busiest days        6204182
Least busy days     3783802
Name: busiest_days, dtype: int64

The busiest days of the week 0,1 (Saturday & Sunday) appears in over 6millions lines. The least busy days 3,4 (Tuesday and Wednesday) apears on over 3.7 rows.

In [72]:
df_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range,price_range_loc,busiest_days
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Regularly busy
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Regularly busy
2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Regularly busy
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Least busy days
4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Least busy days

#4 The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”

In [73]:
#Find busiest hours
df_merged['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

In [84]:
df_merged.loc[(df_merged['order_hour_of_day'] >= 9) & (df_merged['order_hour_of_day'] <= 15), 
              'busiest_period_of_day'] = 'Most orders'

In [85]:
df_merged.loc[(df_merged['order_hour_of_day'] >= 7) & (df_merged['order_hour_of_day'] <= 8),
              'busiest_period_of_day'] = 'Average orders'

In [87]:
df_merged.loc[(df_merged['order_hour_of_day'] >= 17) & (df_merged['order_hour_of_day'] <=22),
              'busiest_period_of_day'] = 'Average orders'

In [89]:
df_merged.loc[(df_merged['order_hour_of_day'] >= 0) & (df_merged['order_hour_of_day'] <= 6), 
              'busiest_period_of_day'] = 'Fewest orders'

In [90]:
#5 Print the frequency for this new column.

df_merged['busiest_period_of_day'].value_counts(dropna = False)

Most orders       18582869
Average orders     9997651
Fewest orders      3824339
Name: busiest_period_of_day, dtype: int64

In [91]:
df_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range,price_range_loc,busiest_days,busiest_period_of_day
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Regularly busy,Average orders
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Regularly busy,Average orders
2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Regularly busy,Most orders
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Least busy days,Average orders
4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Least busy days,Most orders

#7 Export your dataframe as a pickle file (since you added new columns) and store it correctly in your “Prepared Data” folder.

In [92]:
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data','df_merged_new.pkl'))