# Exercise task

In [3]:
import pandas as pd
import numpy as np
import os

In [4]:
path = r'/Users/brandeefairnot/Library/CloudStorage/OneDrive-Personal/Documents/Instacart Basket Analysis/'

In [5]:
#import pickle file
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'df_merged_new.pkl'))

In [6]:
#import 1st 1million lines
df = ords_prods_merge[:1000000]

In [7]:
df.shape

(1000000, 19)

In [8]:
df.head(10)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range,price_range_loc,busiest_days,busiest_period_of_day
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Regularly busy,Average orders
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Regularly busy,Average orders
2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Regularly busy,Most orders
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Least busy days,Average orders
4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Least busy days,Most orders
5,3367565,1,prior,6,2,7,19.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Regularly busy,Average orders
6,550135,1,prior,7,1,9,20.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Regularly busy,Most orders
7,3108588,1,prior,8,1,14,14.0,196,2,1,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Regularly busy,Most orders
8,2295261,1,prior,9,1,16,0.0,196,4,1,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Regularly busy,Fewest orders
9,2550362,1,prior,10,4,8,30.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Least busy days,Average orders

#### Step 1: Grouping Data

In [9]:
#GroupBY() function 
df.groupby('product_name')

#### Step 2: Aggregating Data

In [10]:
#1)Split the data into groups based on “department_id.”
#2)Apply the agg() function to each group to obtain the 
#mean values for the “order_number” column.

df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

In [11]:
# same results without the agg funciton
df.groupby('department_id')['order_number'].mean()

department_id
4     18.825780
7     17.472355
13    17.993423
14    19.246334
16    19.463012
17    11.294069
19    19.305237
20    17.599636
Name: order_number, dtype: float64

In [12]:
# same results without the agg funciton OR brackets
df.groupby('department_id').order_number.mean()

department_id
4     18.825780
7     17.472355
13    17.993423
14    19.246334
16    19.463012
17    11.294069
19    19.305237
20    17.599636
Name: order_number, dtype: float64

In [13]:
#mean, min & max
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
4                18.825780   1  99
7                17.472355   1  99
13               17.993423   1  99
14               19.246334   1  99
16               19.463012   1  99
17               11.294069   1  98
19               19.305237   1  99
20               17.599636   1  99

In [14]:
#CREATE NEW COLUMN
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [15]:
ords_prods_merge.head(15)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range,price_range_loc,busiest_days,busiest_period_of_day,max_order
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Regularly busy,Average orders,10
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Regularly busy,Average orders,10
2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Regularly busy,Most orders,10
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Least busy days,Average orders,10
4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Least busy days,Most orders,10
5,3367565,1,prior,6,2,7,19.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Regularly busy,Average orders,10
6,550135,1,prior,7,1,9,20.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Regularly busy,Most orders,10
7,3108588,1,prior,8,1,14,14.0,196,2,1,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Regularly busy,Most orders,10
8,2295261,1,prior,9,1,16,0.0,196,4,1,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Regularly busy,Fewest orders,10
9,2550362,1,prior,10,4,8,30.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Least busy days,Average orders,10
10,2968173,15,prior,15,1,9,7.0,196,2,0,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Regularly busy,Most orders,22
11,1870022,15,prior,17,2,16,8.0,196,6,1,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Regularly busy,Fewest orders,22
12,1911383,15,prior,18,2,11,7.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Regularly busy,Most orders,22
13,2715276,15,prior,21,1,9,7.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Regularly busy,Most orders,22
14,487368,15,prior,22,1,10,14.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Mid-range product,Regularly busy,Most orders,22

In [16]:
#tells pandas not to hide any rows
pd.options.display.max_rows = None

In [ ]:
ords_prods_merge.head(100)

## Deriving Columns with loc()

In [18]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [ ]:
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

# 4.8 Task

2. In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [20]:
ords_prods_merge.groupby('department_id')['order_number'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

3. Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

The mean for the entire dataset included all departments (1-21), while the subset only included departments 4,7,13,14,16, 17, 19, and 20. Also the means between the departments that showed up weren't always the same since the mean for the task includes all data unlike the subset.

4. Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [21]:
#4 Max Order column has already been created in line 12
#LOC function
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [22]:
#Checking Loc function
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(20)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10

5. The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [29]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean'],'order_number': ['mean']})

                     prices order_number
                       mean         mean
loyalty_flag
Loyal customer    10.386336    32.641196
New customer      13.294670     3.807044
Regular customer  12.495717    12.347452

It seems that loyal customers don't but as much, but they do buy more often than new or regular customers.

6. The team now wants to target different types of spenders 
in their marketing campaigns. This can be achieved by looking
at the prices of the items people are buying. Create a 
spending flag for each user based on the average price 
across all their orders using the following criteria:

In [43]:
#CREATE NEW COLUMN
ords_prods_merge['Mean_Spending'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [46]:
ords_prods_merge.head(20)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,department_id,prices,price_range,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,Type_of_Spender,Mean_Spending
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,7,9.0,Mid-range product,Mid-range product,Regularly busy,Average orders,10,New customer,Low Spender,6.367797
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,7,9.0,Mid-range product,Mid-range product,Regularly busy,Average orders,10,New customer,Low Spender,6.367797
2,473747,1,prior,3,3,12,21.0,196,1,1,...,7,9.0,Mid-range product,Mid-range product,Regularly busy,Most orders,10,New customer,Low Spender,6.367797
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,7,9.0,Mid-range product,Mid-range product,Least busy days,Average orders,10,New customer,Low Spender,6.367797
4,431534,1,prior,5,4,15,28.0,196,1,1,...,7,9.0,Mid-range product,Mid-range product,Least busy days,Most orders,10,New customer,Low Spender,6.367797
5,3367565,1,prior,6,2,7,19.0,196,1,1,...,7,9.0,Mid-range product,Mid-range product,Regularly busy,Average orders,10,New customer,Low Spender,6.367797
6,550135,1,prior,7,1,9,20.0,196,1,1,...,7,9.0,Mid-range product,Mid-range product,Regularly busy,Most orders,10,New customer,Low Spender,6.367797
7,3108588,1,prior,8,1,14,14.0,196,2,1,...,7,9.0,Mid-range product,Mid-range product,Regularly busy,Most orders,10,New customer,Low Spender,6.367797
8,2295261,1,prior,9,1,16,0.0,196,4,1,...,7,9.0,Mid-range product,Mid-range product,Regularly busy,Fewest orders,10,New customer,Low Spender,6.367797
9,2550362,1,prior,10,4,8,30.0,196,1,1,...,7,9.0,Mid-range product,Mid-range product,Least busy days,Average orders,10,New customer,Low Spender,6.367797
10,2968173,15,prior,15,1,9,7.0,196,2,0,...,7,9.0,Mid-range product,Mid-range product,Regularly busy,Most orders,22,Regular customer,Low Spender,3.980556
11,1870022,15,prior,17,2,16,8.0,196,6,1,...,7,9.0,Mid-range product,Mid-range product,Regularly busy,Fewest orders,22,Regular customer,Low Spender,3.980556
12,1911383,15,prior,18,2,11,7.0,196,1,1,...,7,9.0,Mid-range product,Mid-range product,Regularly busy,Most orders,22,Regular customer,Low Spender,3.980556
13,2715276,15,prior,21,1,9,7.0,196,1,1,...,7,9.0,Mid-range product,Mid-range product,Regularly busy,Most orders,22,Regular customer,Low Spender,3.980556
14,487368,15,prior,22,1,10,14.0,196,1,1,...,7,9.0,Mid-range product,Mid-range product,Regularly busy,Most orders,22,Regular customer,Low Spender,3.980556
15,2293453,19,prior,2,5,14,6.0,196,3,0,...,7,9.0,Mid-range product,Mid-range product,Regularly busy,Most orders,9,New customer,Low Spender,8.372059
16,1973799,19,prior,5,6,12,8.0,196,15,1,...,7,9.0,Mid-range product,Mid-range product,Regularly busy,Most orders,9,New customer,Low Spender,8.372059
17,532817,19,prior,7,4,17,6.0,196,1,1,...,7,9.0,Mid-range product,Mid-range product,Least busy days,Average orders,9,New customer,Low Spender,8.372059
18,1573906,21,prior,10,3,10,6.0,196,2,0,...,7,9.0,Mid-range product,Mid-range product,Regularly busy,Most orders,33,Regular customer,Low Spender,7.012683
19,1593000,31,prior,10,3,8,7.0,196,17,0,...,7,9.0,Mid-range product,Mid-range product,Regularly busy,Average orders,20,Regular customer,Low Spender,8.137793

In [41]:
#Loc function
ords_prods_merge.loc[ords_prods_merge['Mean_Spending'] < 10, 'Type_of_Spender'] = 'Low Spender'
ords_prods_merge.loc[ords_prods_merge['Mean_Spending'] >= 10, 'Type_of_Spender'] = 'High Spender'

In [49]:
#Checking Loc function
ords_prods_merge[['user_id', 'Mean_Spending', 'Type_of_Spender']].head()

   user_id  Mean_Spending Type_of_Spender
0        1       6.367797     Low Spender
1        1       6.367797     Low Spender
2        1       6.367797     Low Spender
3        1       6.367797     Low Spender
4        1       6.367797     Low Spender

#7.In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column.

In [ ]:
# Aggregating median
ords_prods_merge.groupby('user_id').agg({'days_since_prior_order': ['median']})

In [54]:
#CREATE NEW COLUMN
ords_prods_merge['order_freq_flag'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [55]:
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,prices,price_range,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,Type_of_Spender,Mean_Spending,order_freq_flag
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,9.0,Mid-range product,Mid-range product,Regularly busy,Average orders,10,New customer,Low Spender,6.367797,20.5
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,9.0,Mid-range product,Mid-range product,Regularly busy,Average orders,10,New customer,Low Spender,6.367797,20.5
2,473747,1,prior,3,3,12,21.0,196,1,1,...,9.0,Mid-range product,Mid-range product,Regularly busy,Most orders,10,New customer,Low Spender,6.367797,20.5
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,9.0,Mid-range product,Mid-range product,Least busy days,Average orders,10,New customer,Low Spender,6.367797,20.5
4,431534,1,prior,5,4,15,28.0,196,1,1,...,9.0,Mid-range product,Mid-range product,Least busy days,Most orders,10,New customer,Low Spender,6.367797,20.5

# Loc function
ords_prods_merge.loc[ords_prods_merge['order_freq_flag'] > 20, 'Customer_Frequency'] = 'Non-frequent customer'
ords_prods_merge.loc[(ords_prods_merge['order_freq_flag'] > 10) & (ords_prods_merge['max_order'] <= 20),'Customer_Frequency'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['order_freq_flag'] <= 10, 'Customer_Frequency '] = 'Frequent customer'

In [57]:
#check 
ords_prods_merge.head(50)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,price_range,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,Type_of_Spender,Mean_Spending,order_freq_flag,Customer_Frequency
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,Mid-range product,Mid-range product,Regularly busy,Average orders,10,New customer,Low Spender,6.367797,20.5,Regular customer
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,Mid-range product,Mid-range product,Regularly busy,Average orders,10,New customer,Low Spender,6.367797,20.5,Regular customer
2,473747,1,prior,3,3,12,21.0,196,1,1,...,Mid-range product,Mid-range product,Regularly busy,Most orders,10,New customer,Low Spender,6.367797,20.5,Regular customer
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,Mid-range product,Mid-range product,Least busy days,Average orders,10,New customer,Low Spender,6.367797,20.5,Regular customer
4,431534,1,prior,5,4,15,28.0,196,1,1,...,Mid-range product,Mid-range product,Least busy days,Most orders,10,New customer,Low Spender,6.367797,20.5,Regular customer
5,3367565,1,prior,6,2,7,19.0,196,1,1,...,Mid-range product,Mid-range product,Regularly busy,Average orders,10,New customer,Low Spender,6.367797,20.5,Regular customer
6,550135,1,prior,7,1,9,20.0,196,1,1,...,Mid-range product,Mid-range product,Regularly busy,Most orders,10,New customer,Low Spender,6.367797,20.5,Regular customer
7,3108588,1,prior,8,1,14,14.0,196,2,1,...,Mid-range product,Mid-range product,Regularly busy,Most orders,10,New customer,Low Spender,6.367797,20.5,Regular customer
8,2295261,1,prior,9,1,16,0.0,196,4,1,...,Mid-range product,Mid-range product,Regularly busy,Fewest orders,10,New customer,Low Spender,6.367797,20.5,Regular customer
9,2550362,1,prior,10,4,8,30.0,196,1,1,...,Mid-range product,Mid-range product,Least busy days,Average orders,10,New customer,Low Spender,6.367797,20.5,Regular customer
10,2968173,15,prior,15,1,9,7.0,196,2,0,...,Mid-range product,Mid-range product,Regularly busy,Most orders,22,Regular customer,Low Spender,3.980556,10.0,Frequent customer
11,1870022,15,prior,17,2,16,8.0,196,6,1,...,Mid-range product,Mid-range product,Regularly busy,Fewest orders,22,Regular customer,Low Spender,3.980556,10.0,Frequent customer
12,1911383,15,prior,18,2,11,7.0,196,1,1,...,Mid-range product,Mid-range product,Regularly busy,Most orders,22,Regular customer,Low Spender,3.980556,10.0,Frequent customer
13,2715276,15,prior,21,1,9,7.0,196,1,1,...,Mid-range product,Mid-range product,Regularly busy,Most orders,22,Regular customer,Low Spender,3.980556,10.0,Frequent customer
14,487368,15,prior,22,1,10,14.0,196,1,1,...,Mid-range product,Mid-range product,Regularly busy,Most orders,22,Regular customer,Low Spender,3.980556,10.0,Frequent customer
15,2293453,19,prior,2,5,14,6.0,196,3,0,...,Mid-range product,Mid-range product,Regularly busy,Most orders,9,New customer,Low Spender,8.372059,6.0,Frequent customer
16,1973799,19,prior,5,6,12,8.0,196,15,1,...,Mid-range product,Mid-range product,Regularly busy,Most orders,9,New customer,Low Spender,8.372059,6.0,Frequent customer
17,532817,19,prior,7,4,17,6.0,196,1,1,...,Mid-range product,Mid-range product,Least busy days,Average orders,9,New customer,Low Spender,8.372059,6.0,Frequent customer
18,1573906,21,prior,10,3,10,6.0,196,2,0,...,Mid-range product,Mid-range product,Regularly busy,Most orders,33,Regular customer,Low Spender,7.012683,7.5,Frequent customer
19,1593000,31,prior,10,3,8,7.0,196,17,0,...,Mid-range product,Mid-range product,Regularly busy,Average orders,20,Regular customer,Low Spender,8.137793,6.0,Frequent customer
20,2231262,31,prior,17,3,11,8.0,196,14,1,...,Mid-range product,Mid-range product,Regularly busy,Most orders,20,Regular customer,Low Spender,8.137793,6.0,Frequent customer
21,2580647,43,prior,6,4,16,4.0,196,9,0,...,Mid-range product,Mid-range product,Least busy days,Fewest orders,11,Regular customer,Low Spender,7.444898,10.0,Frequent customer
22,2187180,43,prior,9,4,12,3.0,196,1,1,...,Mid-range product,Mid-range product,Least busy days,Most orders,11,Regular customer,Low Spender,7.444898,10.0,Frequent customer
23,2497897,52,prior,1,1,9,NaN,196,4,0,...,Mid-range product,Mid-range product,Regularly busy,Most orders,27,Regular customer,Low Spender,6.356287,8.0,Frequent customer
24,1318871,52,prior,2,1,10,7.0,196,5,1,...,Mid-range product,Mid-range product,Regularly busy,Most orders,27,Regular customer,Low Spender,6.356287,8.0,Frequent customer
25,1261384,52,prior,3,1,10,7.0,196,3,1,...,Mid-range product,Mid-range product,Regularly busy,Most orders,27,Regular customer,Low Spender,6.356287,8.0,Frequent customer
26,580568,52,prior,5,2,10,8.0,196,6,1,...,Mid-range product,Mid-range product,Regularly busy,Most orders,27,Regular customer,Low Spender,6.356287,8.0,Frequent customer
27,2428073,52,prior,7,2,7,8.0,196,5,1,...,Mid-range product,Mid-range product,Regularly busy,Average orders,27,Regular customer,Low Spender,6.356287,8.0,Frequent customer
28,342306,52,prior,9,1,11,7.0,196,5,1,...,Mid-range product,Mid-range product,Regularly busy,Most orders,27,Regular customer,Low Spender,6.356287,8.0,Frequent customer
29,1520353,52,prior,10,2,10,8.0,196,4,1,...,Mid-range product,Mid-range product,Regularly busy,Most orders,27,Regular customer,Low Spender,6.356287,8.0,Frequent customer
30,2542086,52,prior,11,2,9,7.0,196,3,1,...,Mid-range product,Mid-range product,Regularly busy,Most orders,27,Regular customer,Low Spender,6.356287,8.0,Frequent customer
31,944694,52,prior,12,1,16,6.0,196,7,1,...,Mid-range product,Mid-range product,Regularly busy,Fewest orders,27,Regular customer,Low Spender,6.356287,8.0,Frequent customer
32,1268191,52,prior,15,2,11,8.0,196,3,1,...,Mid-range product,Mid-range product,Regularly busy,Most orders,27,Regular customer,Low Spender,6.356287,8.0,Frequent customer
33,1122089,52,prior,17,2,10,6.0,196,4,1,...,Mid-range product,Mid-range product,Regularly busy,Most orders,27,Regular customer,Low Spender,6.356287,8.0,Frequent customer
34,1498922,52,prior,18,2,10,14.0,196,6,1,...,Mid-range product,Mid-range product,Regularly busy,Most orders,27,Regular customer,Low Spender,6.356287,8.0,Frequent customer
35,180919,52,prior,19,3,8,8.0,196,4,1,...,Mid-range product,Mid-range product,Regularly busy,Average orders,27,Regular customer,Low Spender,6.356287,8.0,Frequent customer
36,2695875,52,prior,21,5,10,30.0,196,1,1,...,Mid-range product,Mid-range product,Regularly busy,Most orders,27,Regular customer,Low Spender,6.356287,8.0,Frequent customer
37,3205960,67,prior,1,3,11,NaN,196,1,0,...,Mid-range product,Mid-range product,Regularly busy,Most orders,24,Regular customer,Low Spender,7.656790,7.0,Frequent customer
38,970922,67,prior,2,1,15,5.0,196,2,1,...,Mid-range product,Mid-range product,Regularly busy,Most orders,24,Regular customer,Low Spender,7.656790,7.0,Frequent customer
39,596585,67,prior,3,1,13,7.0,196,2,1,...,Mid-range product,Mid-range product,Regularly busy,Most orders,24,Regular customer,Low Spender,7.656790,7.0,Frequent customer
40,2037087,67,prior,4,2,9,8.0,196,1,1,...,Mid-range product,Mid-range product,Regularly busy,Most orders,24,Regular customer,Low Spender,7.656790,7.0,Frequent customer
41,2474111,67,prior,5,3,14,8.0,196,2,1,...,Mid-range product,Mid-range product,Regularly busy,Most orders,24,Regular customer,Low Spender,7.656790,7.0,Frequent customer
42,1568481,67,prior,6,3,12,7.0,196,2,1,...,Mid-range product,Mid-range product,Regularly busy,Most orders,24,Regular customer,Low Spender,7.656790,7.0,Frequent customer
43,2048527,67,prior,8,2,11,7.0,196,1,1,...,Mid-range product,Mid-range product,Regularly busy,Most orders,24,Regular customer,Low Spender,7.656790,7.0,Frequent customer
44,2389031,67,prior,9,2,14,7.0,196,1,1,...,Mid-range product,Mid-range product,Regularly busy,Most orders,24,Regular customer,Low Spender,7.656790,7.0,Frequent customer
45,2378562,67,prior,10,1,10,6.0,196,1,1,...,Mid-range product,Mid-range product,Regularly busy,Most orders,24,Regular customer,Low Spender,7.656790,7.0,Frequent customer
46,1515698,67,prior,11,1,11,7.0,196,1,1,...,Mid-range product,Mid-range product,Regularly busy,Most orders,24,Regular customer,Low Spender,7.656790,7.0,Frequent customer
47,1928050,67,prior,12,2,12,8.0,196,1,1,...,Mid-range product,Mid-range product,Regularly busy,Most orders,24,Regular customer,Low Spender,7.656790,7.0,Frequent customer
48,1949274,67,prior,13,1,10,6.0,196,1,1,...,Mid-range product,Mid-range product,Regularly busy,Most orders,24,Regular customer,Low Spender,7.656790,7.0,Frequent customer
49,551869,67,prior,14,1,9,7.0,196,1,1,...,Mid-range product,Mid-range product,Regularly busy,Most orders,24,Regular customer,Low Spender,7.656790,7.0,Frequent customer

In [58]:
# export as pickle file
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'df_merged_new_4.8.pkl'))